button {
  padding: 0px 20px;
  margin: 0 10px;
  border-radius: 5px;
  border-color: navy;
  background-color: lightblue;
  font-size: 40px;
  font-weight: 400;
}
h1 {
  font-size: 70px;
  font-weight: 600;
  color: purple;
}
